.title-tooltip {
  font-size: 1.2rem;
}

.title-header {
  font:{
    size: 1.4rem;
    weight: bold;
  }
}

.title-table {
  font: {
    size: 2.5rem;
    weight: bold;
  }
}
.logout-btn {
  @include button;
  margin-bottom: 2rem;
  margin-left: 60%;
  display: inline-block;
  padding: 0px 1px;
  border-radius: 33px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  width: 7rem;
  height: 7rem;
}

.logout-btn:hover {
  background-position: 100% 0%;
}
