.login-container {

  border-radius: 0 .5rem .5rem .5rem;
  height: 25rem;
  padding-top: 1.3rem;
  text-align: center;

  &__login-button {
    @include button;
    margin-bottom: 2rem;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
  }

  &__login-button:hover {
    background-position: 100% 0%;
  }

  &__label-error {
    color: rgb(255, 0, 0);
    font-size: 1.2rem;
  }

}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;
}